<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dmanzano.manzanoj_u2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/c_mi_icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/c_mi_icono_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AcercaDeActivity" android:label="@string/acerca_de" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".PreferenciasActivity" android:label="@string/configurar" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".Puntuaciones" android:label="@string/salir"/>
        <activity android:name=".Juego" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <provider
            android:authorities="org.example.puntuacionesprovider"
            android:name="com.example.dmanzano.manzanoj_u2.PuntuacionesProvider"
            android:exported="true"/>
    </application>
    <uses-sdk android:minSdkVersion="9"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>